body {
    overflow-x: hidden;
}

.contentContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-light);
    height: 100%;
    align-items: center;
    justify-content: center;
}

h3 {
    font-family: ubuntuMono;
    font-size: 30px;
}

h1, h3 {
    color: white;
}

.heroText {
    font-size: 90px;
    text-align: center;
    margin: 0px;
}

.shopButton {
    font-family: ubuntuMono;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 30px;
    background-color: var(--highlight);
    color: white;
}