@import url(../index.css);

nav {
    display: flex;
    background-color: var(--dark-strong);
    position: fixed;
    width: 100%;
    height: var(--nav-height);
    z-index: 1;
}

a, a:active {
    text-decoration: none;
    color: rgb(227, 227, 227);
    font-family: rosmatika;
}

.logo {
    padding: 10px 0px;
    align-items: center;
    color: black;
    font-size: 30px;
    font-family: rosmatika;
    
    a {
        margin-left: 20px;
    }
}

.navbarRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.logo, .navbarRight {
    min-width: 20vw;
}

.navOptionsContainer {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color:antiquewhite;
}

.clickableTab {
    font-family: rosmatika;
    font-size: 20px;
    color: white;
    background-color: rgba(0,0,0,0);
    border: 0px;
    padding: 0px 20px;
    height: 100%;
    width: 100px;
    transition: border-bottom 100ms ease-in-out;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.clickableTab:hover, .selectedTab {
    border-bottom: 5px solid var(--highlight);
}

.selectedTab {
    color: var(--highlight);
}

.clickableTab:hover {
    background-color: var(--dark-strong-highlight);
}

.checkout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-family: ubuntuMono;
    font-size: 18px;

    button {
        background-color: rgba(0,0,0,0);
        border: 0px;
    }

    button img {
        filter: invert(1);
        height: auto;
        width: var(--nav-height);
    }
}

.hidden {
    display: none;
}

.themeBtn {
    background-color: rgba(0,0,0,0);
    border: 0px;
    padding: 0px;
    position: relative;
    height: 100%;
    width: calc(var(--nav-height) - 10px);
    margin-left: 15px;
}

.themeImg {
    width: auto;
    height: calc(var(--nav-height) - 10px);
    filter: brightness(0) invert(1);
    animation: 200ms fadeIn ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}
