@import url(../index.css);

nav {
    display: flex;
    background-color: var(--dark-strong);
    position: fixed;
    width: 100%;
    height: var(--nav-height);
    z-index: 1;
}

a, a:active {
    text-decoration: none;
    color: rgb(227, 227, 227);
    font-family: rosmatika;
}

.hidden {
    visibility: hidden
}

.logo {
    flex: 1;
    display: flex;
    padding: 10px 0px;
    align-items: center;
    color: black;
    font-size: 30px;
    font-family: rosmatika;
    
    a {
        margin-left: 20px;
    }
}

.navOptionsContainer {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    color:antiquewhite;
}

.clickableTab {
    font-family: rosmatika;
    font-size: 20px;
    color: white;
    background-color: rgba(0,0,0,0);
    border: 0px;
    padding: 0px 20px;
    height: 100%;
    width: 100px;
    transition: border-bottom 100ms ease-in-out;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.clickableTab:hover, .selectedTab {
    border-bottom: 5px solid var(--highlight);
}

.selectedTab {
    color: var(--highlight);
}

.clickableTab:hover {
    background-color: var(--dark-strong-highlight);
}

.checkout {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;

    button {
        background-color: rgba(0,0,0,0);
        border: 0px;
    }

    button img {
        filter: invert(1);
        height: auto;
        width: var(--nav-height);
        margin-right: 10px;
    }
}